In [1]:
import sys
sys.path.append('../data/')
sys.path.append('../scripts/')

import pandas as pd
from itertools import combinations
from importlib import reload

import GeochemFunctions

In [2]:
#make a test dataframe for development
data = {
   "col1": [100, 200, 300, 400, 500],
   "col2": [10, 20, 30, 40, 50],
   "col3": [1, 2, 3, 4, 5],
   "col4": [2, 4, 6, 8, 10],
   "col5": [2, 4, 6, 8, 10]
}
df = pd.DataFrame(data)


print(df)

   col1  col2  col3  col4  col5
0   100    10     1     2     2
1   200    20     2     4     4
2   300    30     3     6     6
3   400    40     4     8     8
4   500    50     5    10    10

In [3]:
#check that the .py version works!
# def makeratios(DF):
#     cc = list(combinations(DF.columns,2))
#     cnames=[]
#     for c in cc:
#         cname=c[1] + '/' +c[0]
#         cnames.append(cname)
    
#     ratios = pd.concat([DF[c[1]].divide(DF[c[0]]) for c in cc], axis=1, keys=cnames)
#     #now append the ratios onto the original dataframe
#     df_wratios = pd.concat([DF,ratios],axis=1)
    
#     return df_wratios

In [4]:
#test it out on the simple case
reload(GeochemFunctions)

df_wratios = GeochemFunctions.makeratios(df)

display(df_wratios)

,col1,col2,col3,col4,col5,col2/col1,col3/col1,col4/col1,col5/col1,col3/col2,col4/col2,col5/col2,col4/col3,col5/col3,col5/col4
0,100,10,1,2,2,0.1,0.01,0.02,0.02,0.1,0.2,0.2,2.0,2.0,1.0
1,200,20,2,4,4,0.1,0.01,0.02,0.02,0.1,0.2,0.2,2.0,2.0,1.0
2,300,30,3,6,6,0.1,0.01,0.02,0.02,0.1,0.2,0.2,2.0,2.0,1.0
3,400,40,4,8,8,0.1,0.01,0.02,0.02,0.1,0.2,0.2,2.0,2.0,1.0
4,500,50,5,10,10,0.1,0.01,0.02,0.02,0.1,0.2,0.2,2.0,2.0,1.0

In [5]:
n=5 #number of objects
k=2 #grouping size

#function to find the number of distinct ratios between elements in a list
# def numcomb(n,k):
#     import math
#     Cnk = math.factorial(n)/(math.factorial(k)*math.factorial(n-k))
#     return Cnk

Cnk = GeochemFunctions.numcomb(n,k)

print('Number of distinct ratios between elements in a list of length ' + str(n) + ' is ' + str(int(Cnk)))

Number of distinct ratios between elements in a list of length 5 is 10

### Now do this with the geochemical data

In [8]:
#import the data! 

datapathlocal = "../data/tec discrim diagrams.csv"
df=pd.read_csv(datapathlocal, header=0)

data=df.dropna()
labels= data.loc[:,'Cluster_ID'] 
features = data.drop(columns=['Cluster_ID', 'Number'])

In [10]:
print(features.columns)

features_wratios = GeochemFunctions.makeratios(features)

#display(features_wratios)
print('original size = ' + str(features.shape[1]))

Cnk = GeochemFunctions.numcomb(features.shape[1],2)
Rsize = features.shape[1] + Cnk

print('Checking... DID IT WORK? ? ?')
if int(Rsize) == features_wratios.shape[1]:
    print('WOOHOOO! predicted size of ' + str(int(Rsize)) + ' matches combinatorics!')

Index(['SiO2', 'TiO2', 'Al2O3', 'Fe2O3', 'MgO', 'CaO', 'Na2O', 'K2O',
       'SR87_SR86', 'Nd143_Nd144', 'Pb206_Pb204', 'Pb207_Pb204', 'Pb208_Pb204',
       'La', 'Ce', 'Nd', 'Sm', 'Gd', 'Yb', 'Lu', 'Ba', 'Hf', 'Nb', 'Rb', 'Sr',
       'Ta', 'Th', 'Y', 'Zr'],
      dtype='object')
original size = 29
Checking... DID IT WORK? ? ?
WOOHOOO! predicted size of 435 matches combinatorics!

In [11]:
display(features_wratios.head(5))

,SiO2,TiO2,Al2O3,Fe2O3,MgO,CaO,Na2O,K2O,SR87_SR86,Nd143_Nd144,...,Ta/Sr,Th/Sr,Y/Sr,Zr/Sr,Th/Ta,Y/Ta,Zr/Ta,Y/Th,Zr/Th,Zr/Y
0,50.755719,1.582925,15.114379,9.426062,8.843954,9.354575,3.053513,1.868873,0.70505,0.512613,...,0.002195,0.009111,0.027442,0.203074,4.150000,12.500000,92.500000,3.012048,22.289157,7.400000
1,65.344932,0.799110,15.779891,4.491200,2.205139,4.127048,3.944973,3.307708,0.70905,0.512314,...,0.002138,0.038480,0.030879,0.434679,18.000000,14.444444,203.333333,0.802469,11.296296,14.076923
2,64.282845,0.873845,15.970269,4.881479,2.480916,4.339092,4.037766,3.133789,0.70872,0.512330,...,0.001524,0.026857,0.022857,0.449524,17.625000,15.000000,295.000000,0.851064,16.737589,19.666667
3,61.421320,1.015228,15.939086,6.335025,3.360406,5.431472,3.695431,2.802030,0.70853,0.512375,...,0.003002,0.022514,0.035647,0.407129,7.500000,11.875000,135.625000,1.583333,18.083333,11.421053
4,59.801663,1.131924,15.927076,6.631273,4.137033,5.779826,4.086948,2.504257,0.70802,0.512370,...,0.002471,0.018451,0.024712,0.383855,7.466667,10.000000,155.333333,1.339286,20.803571,15.533333